# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: '8'
        cache: maven

    - name: Build with Maven
      run: |
        pwd
        ls
        cd ../
        git clone https://github.com/resess/DynamicSlicingCore
        cd DynamicSlicingCore/core
        pwd
        ls
        mvn -DskipTests -B package install --file pom.xml
        cd ../../Mandoline/Mandoline
        pwd
        ls
        mvn -DskipTests -B package install --file pom.xml

